*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  background: #d3f0c6;
  text-align: center;
}
h1 { color: #2d572c; }
select, button {
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}
button {
  width: 40%;
  background: #ffc107;
  cursor: pointer;
}
button:hover {
  background: #e0a800;
}
.box {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  max-width: 100%;
  margin: 20px auto;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
ul {
  text-align: left;
  list-style: none;
  padding: 0;
}
.alerta {
  font-weight: bold;
  color: red;
}
.sucesso {
  font-weight: bold;
  color: green;
}

.conteudo{
  margin-left: 30%;
  margin-right: 30%;
  height: 100%;
}

.container_info{
  width: 100%;
  height: 380px;
  display: flex;
  gap: 10px;
  padding: 10px;
  text-align: center;
}

.conteudo_info{
  background-color: rgb(255, 255, 255); 
  border-radius: 27px; 
  box-sizing: border-box;
  padding: 3px;
  flex: 1;                  /* faz o texto crescer para ocupar o espaço */
  margin: 0;
  color: #2d572c;
  text-align: center;
}

.texto_conteudo{
  margin: 20px;
  font-size: 1.3vw;
}
.logotipo{
  width: 167px;
}

.conteudo_imagem{
  width: 100%;
}

h1{
  font-size: 40px;
  padding: 15px;
  margin: 0px;
}

select{
  border: 1px solid gray;
  border-radius: 5px; 
  width: 80%; text-align: center;
}